name: pgspecial

on:
  pull_request:
    paths-ignore:
      - '**.rst'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - python-version: '3.7'
            postgres-version: '10'
          - python-version: '3.8'
            postgres-version: '11'
          - python-version: '3.9'
            postgres-version: '12'
          - python-version: '3.10'
            postgres-version: '13'
          - python-version: '3.11'
            postgres-version: '14'

    services:
      postgres:
        image: postgres:${{ matrix.postgres-version }}
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
            - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          pip install -U pip setuptools
          pip install --no-cache-dir .
          pip install -r requirements-dev.txt

      - name: Run unit tests
        run: coverage run --source pgspecial -m pytest

      - name: Run Black
        run: black --check .
        if: matrix.python-version == '3.7'

      - name: Coverage
        run: |
          coverage report
          codecov
