name: pgspecial

on:
  pull_request:
    paths-ignore:
      - '**.rst'

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
            - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          pip install -U pip setuptools
          pip install --no-cache-dir .
          pip install -r requirements-dev.txt

      - name: Run unit tests
        run: coverage run --source pgspecial -m py.test

      - name: Run Black
        run: black --check .
        if: matrix.python-version == '3.7'

      - name: Coverage
        run: |
          coverage report
          codecov
